{% extends 'base.html' %}
{% load static %}

{% block title %} My Blog {% endblock %}

{% block css-files %}
  <link rel="stylesheet" href="{% static "blog/post.css" %}" />
  <link rel="stylesheet" href="{% static "blog/index.css" %}" />
{% endblock %}

{% block content %}
<section id="welcome">
  <header>
    <img src="{% static "blog/images/ayomide.jpg" %}" alt="Ayomide - The Author Of This Blog " />
    <h2>AYOMIDE'S BLOG</h2>
  </header>

  <p>
    Hi, I'm Ayomide and I love to code and bring ideas and concepts to life.
  </p>
</section>

<section id="latest-posts">
  <h2>My Latest Thoughts</h2>

  <ul>
    {% for post in posts  %}
      {% include "blog/includes/post.html" %}
    {% endfor %}
  </ul>

</section>

<section id="about">
  <h2>What I Do</h2>
  <p>
    I love programming, I love the feeling of creating something from nothing,
    and I love the feeling of solving problems. I also love to write about my
    experiences and share them with the world. More so I love to team up with
    other developers and create something awesome!
  </p>
  <p>
    My goal is to keep on growing as a developer and to keep on learning new
    things. I also want to build a full blown web application that will be used
    by millions of people around the world.
  </p>
</section>
{% endblock %}
